### Data Science and AI Practicum

### Working with SQLite

In [2]:
import pandas as pd
import sqlite3 as sql
from pprint import pprint as print

In [3]:
!unzip sample_db.zip

Archive:  sample_db.zip
 extracting: sample.db

In [4]:
examdb = sql.connect("sample.db")
cursor = examdb.cursor()

In [5]:
cursor.execute("select name from sqlite_master where type = 'table';")
cursor.fetchall()

[('users',), ('orders',)]

In [7]:
cursor.execute("select count(*) from users")
cursor.fetchone()

(50,)

--------------------------------------------------------------------------------

### Fetch one

cursor.fetchone()

In [9]:
cursor.execute("select * from users")
cursor.fetchone()

(1, 'User1', 20)

--------------------------------------------------------------------------------

### Fetch all

cursor.fetchall()

In [10]:
cursor.execute("select * from users")
cursor.fetchall()

[(1, 'User1', 20),
 (2, 'User2', 21),
 (3, 'User3', 22),
 (4, 'User4', 23),
 (5, 'User5', 24),
 (6, 'User6', 25),
 (7, 'User7', 26),
 (8, 'User8', 27),
 (9, 'User9', 28),
 (10, 'User10', 29),
 (11, 'User11', 20),
 (12, 'User12', 21),
 (13, 'User13', 22),
 (14, 'User14', 23),
 (15, 'User15', 24),
 (16, 'User16', 25),
 (17, 'User17', 26),
 (18, 'User18', 27),
 (19, 'User19', 28),
 (20, 'User20', 29),
 (21, 'User21', 20),
 (22, 'User22', 21),
 (23, 'User23', 22),
 (24, 'User24', 23),
 (25, 'User25', 24),
 (26, 'User26', 25),
 (27, 'User27', 26),
 (28, 'User28', 27),
 (29, 'User29', 28),
 (30, 'User30', 29),
 (31, 'User31', 20),
 (32, 'User32', 21),
 (33, 'User33', 22),
 (34, 'User34', 23),
 (35, 'User35', 24),
 (36, 'User36', 25),
 (37, 'User37', 26),
 (38, 'User38', 27),
 (39, 'User39', 28),
 (40, 'User40', 29),
 (41, 'User41', 20),
 (42, 'User42', 21),
 (43, 'User43', 22),
 (44, 'User44', 23),
 (45, 'User45', 24),
 (46, 'User46', 25),
 (47, 'User47', 26),
 (48, 'User48', 27),
 (49, 'User49', 28),
 (50, 'User50', 29)]

--------------------------------------------------------------------------------

### Fetch any

cursor.fetchany(n)

In [12]:
cursor.execute("select * from users where age % 2 = 0")
cursor.fetchmany(10)

[(1, 'User1', 20),
 (3, 'User3', 22),
 (5, 'User5', 24),
 (7, 'User7', 26),
 (9, 'User9', 28),
 (11, 'User11', 20),
 (13, 'User13', 22),
 (15, 'User15', 24),
 (17, 'User17', 26),
 (19, 'User19', 28)]

--------------------------------------------------------------------------------

In [13]:
cursor.execute("select * from users")
column_names = [description[0] for description in cursor.description]
column_names

['id', 'name', 'age']