### Data Science and AI Practicum

### 3 - Modul: Data Processing

- Working with Files

In [ ]:
import pandas as pd
import numpy as np

`Basic File Functions`

`.read_csv()` - used to read csv files(comma seperated files)

`.read_table()` - used to read simple txt file but in a view of table with spaces

`.read_excel()` - used to read excel files, xls, xlsx

`.read_clipboard()` - used to read tables in a ram\rom

`.read_hdf()` - HDF5 files

`.read_html()` - HTML (web), all the tables in website
  
`.read_json()` - used to read files on json format

`.read_pickle()` - used to read files in a pickle format

`.read_sql()` - used to read sql queries

------------------------------------------------------------------------------

`read_csv()`

CSV file (comma-seperated values)

In [ ]:
pd.read_csv('file_csv')

`read_table()`

Text file (default tab or space_seperated)

In [ ]:
pd.read_table('file.txt', sep = '/t')

`read_excel()`

Excel files (.xls, .xlsx)

In [ ]:
pd.read_excel('file.xlsx')

`read_clipboard()`

Read copied table (Ctrl + C)

In [ ]:
pd.read_clipboard()

`read_hdf()`

HDF5 binary format

In [ ]:
pd.read('file.h5')

`read_html()`

Reads table from a webpage

In [ ]:
pd.read_html('https://example.com')

`read_json()`

Read JSON format

In [ ]:
pd.read_json('file.json')

`read_pickle()`

Reads Pickle-serialized objects

In [ ]:
pd.read_pickle('file.pkl')

`read_sql()`

sql query or table

In [ ]:
pd.read_sql('SELECT * FROM table', connection)

------------------------------------------------------------------------------

- Cloning a CSV file from github (we got one)

In [ ]:
!wget https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/refs/heads/main/toy_dataset_modified.csv

--2025-04-21 12:46:39--  https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/refs/heads/main/toy_dataset_modified.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 49677 (49K) [text/plain]
Saving to: ‘toy_dataset_modified.csv’

toy_dataset_modifie 100%[===================>]  48.51K  --.-KB/s    in 0.02s

2025-04-21 12:46:39 (2.76 MB/s) - ‘toy_dataset_modified.csv’ saved [49677/49677]

In [ ]:
pd.read_csv('toy_dataset_modified.csv')

               City  Gender   Age    Income Illness
0     New York City    Male  49.0  112226.0      No
1     New York City    Male  42.0  110534.0      No
2     New York City  Female  61.0  100665.0      No
3     New York City  Female  58.0   98147.0     Yes
4     New York City  Female  43.0   93100.0      No
...             ...     ...   ...       ...     ...
1495  New York City    Male  33.0  123132.0      No
1496  New York City  Female  48.0   96889.0      No
1497  New York City    Male  27.0   93822.0      No
1498  New York City  Female  36.0  116129.0      No
1499  New York City    Male  51.0  108426.0      No

[1500 rows x 5 columns]

------------------------------------------------------------------------------

- Cloning all files from a repository (not one)

In [ ]:
!git clone https://github.com/anvarnarz/praktikum_datasets/tree/main

Cloning into 'main'...
fatal: repository 'https://github.com/anvarnarz/praktikum_datasets/tree/main/' not found