### Sorting and Limiting results

Operator Order by

In [ ]:
SELECT column1, column2, column3...
FROM  name_table
ORDER BY column1 ASC|DESC; #ASC default, DESC in vice versa

SELECT * FROM [Person].[Person] ORDER BY  FirstName

Limiting result, TOP gives top 5 coluns(the latest columns)

In [ ]:
SELECT TOP 5 FirstName FROM [Person].[Person] ORDER BY FirstName DESC;
# tables can have 10000 of columns ad this makes presure tocpu, TOP alows us to limit the output

Operator OFFSET/FETCH

In [ ]:
SELECT FirstName
FROM [Person].[Person]
ORDER BY FirstName DESC
OFFSET 10 ROWS
FETCH NEXT 10 ROWS ONLY; # offset is used to page the out put result, in other way makes particularly the same thing with TOP

TOP and OFFSET/FETCH both limit the number of rows returned in SQL Server
TOP can not be used with ORDER BY for skipping rows

OFFSET/FETCH works only with ORDER BY(more flexible than TOP)

In [ ]:
  select a.BusinessEntityID
  FROM [AdventureWorks2019].[Person].[Person] a
  where MiddleName = 'M'
  order by a.BusinessEntityID DESC
  offset 10 rows
  fetch next 50 rows only;

In [ ]:
select top 50 a.BusinessEntityID
  FROM [AdventureWorks2019].[Person].[Person] a
  where MiddleName = 'M'
  order by a.BusinessEntityID DESC;

`LIKE` = '%element%'

In the column can contain several word baced info, LIKE allows to get these column with certain elements

In [4]:
poss = {
    'Organixation level':[7 ,3 ,2 ,6, 7],
    'JobT':['Engeneer manager', 'North American Sales Manager', 'Network Manager',
            'Marketing Manager', 'Facilities Manager']
}
df = pd.DataFrame(poss)
df

   Organixation level                          JobT
0                   7              Engeneer manager
1                   3  North American Sales Manager
2                   2               Network Manager
3                   6             Marketing Manager
4                   7            Facilities Manager

In [ ]:
select * from [databace].[schema].[table] s
where s.JobT LIKE '%manager%';
# we gonna get all these Jobt as they contain the word manager
where s.JobT LIKE 'N%';
# starting with N

### Aggregate Functions

Aggregate Functions used with `group by` wich groups the out put results from the fuctions of `count` `sum` `avg` `min` `max` => result is grouped to one column

In [ ]:
SELECT column_name
FROM table_name
WHERE condition
GROUP BY column_name
ORDER BY column_name

| **Functions** | **their tasks** |
| --- | --- |
| COUNT() | qatorlarni sanaydi |
| SUM() | Qiymatlarni yigindisini topadi |
| AVG() | Ortacha qiymatni hisoblaydi |
| MIN() | Eng kichik qiymatni topadi |
| MAX() | Eng katta qiymatni topadi |

In [ ]:
select category, sum(price) as a total_price
from products
group by category

category	  price
Electronics	500
Electronics	1000
Clothing	  700
Clothing	  800
Books	      400
Books	      300

category	   total_price
Electronics	 1500
Clothing	   1500
Books	       700