### SQL  Functions

What is a Function - reusable sql code where it takes an input and gives an output. In SQL Server, select is called only in SELECT part, but in Stored procedure, EXEC is used.

### Types of Function

1. Scaler Function - returns only one value
2. Table-Valued Function

- Inline TVF - throught 1 `SELECT`, we get a `Table`
- Multi-Statment TVF - using several statments, returns temporary Tables

### Scalar Dunction

In [ ]:
create function dbo.GetFullName
(
    @FirstName nvarchar(50),
    @LastName nvarchar(50)
)

return nvarchar(101)
as
begin
      return @FirstName + ' ' + @LastName

end

In [ ]:
select dbo.GetFullName('Ali', 'Valiyev') as FullName;

### Inline Table-Valued Function (Itvf)

In [ ]:
create function dbo.GetEmployeesByDept
(
    @DeptId int
)
return table
as
return (
    select Id, Name, Salary
    from Employees
    where DepartmentId = @DeptId
)

In [ ]:
select *
from dbo.GetEmployeesByDept(3);

### Multi - Statement Table - Valued Function (MSTVF)

In [ ]:
create fucntion dbo.GetTopSellers
(
    @MinSalesAmount decimal(10, 2)
)
returns @Result table
(
    EmployeeId int,
    TotalSales decimal(10, 2)
)
as
begin
      insert into @Result
      select EmployeeId, sum(Amount)
      from Sales
      group by EmployeeId
      having sum(Amount) >= @MinSalesAmount

      return
end

In [ ]:
select * from dbo.GetTopSellers(10000)

### Real Example

In [ ]:
create function dbo.CalculateAge
(
    @BirthDate date
)
returns int
as
begin
      return datediff(year, @BirthDate, getdate())
end

In [ ]:
select Name, dbo.CalculateAge(BirthDate) as Age
from Users;

### Deleting The Function

In [ ]:
drop function dbo.CalculateAge

### Update The Function

In [ ]:
alter function dbo.CalculateAge

### Function vs Stored Procedure

| Farqi | Function (UDF) | Stored Procedure (SP) |
| --- | --- | --- |
| **1. Qaytaruvchi qiymat** | Faqat **1 ta qiymat yoki TABLE** qaytaradi | Nol yoki **bir nechta OUTPUT** qaytarishi mumkin |
| **2. RETURN operatori** | `RETURN` majburiy (`scalar`da) | `RETURN` faqat status kodi uchun, natija emas |
| **3. SELECT ichida chaqirish** | `SELECT dbo.FunctionName()` |  mumkin emas (faqat `EXEC` bilan) |
| **4. INSERT, UPDATE, DELETE** | Yopiq – malumot ozgartira olmaydi | toliq DML (insert/update/delete) mumkin |
| **5. Exception Handling** | `TRY..CATCH` ishlamaydi | `TRY..CATCH` mavjud |
| **6. Transaction boshqaruvi** | Yoq | `BEGIN TRAN`, `COMMIT`, `ROLLBACK` |
| **7. Temporary table** | ishlatib bolmaydi (`#Temp`) | `#Temp` va `@table` ishlatish mumkin |
| **8. Caching** | Scalar function **caching** qilinadi | SP – har safar yangi reja (plan) quradi |
| **9. Output parametri** | Faqat `RETURN` bilan | `OUTPUT` parametrlar mavjud |
| **10. Chaqarish usuli** | `SELECT`, `FROM`, `JOIN`  | `EXEC`, `EXECUTE`  |
| **11. Performance** | Inline TVF – juda tez | SP – kop ishga qulay lekin sekinroq bolishi mumkin |

### Function

In [ ]:
create finction dbo.GetDiscountedPrice
(
    @Price decimal(10, 2),
    @Percent int
)
returns decimal(10, 2)
as
begin
      return @Price - (@Price * @Percent / 100.0)
end

In [ ]:
select Name, dbo.GetDiscountedPrice(Price, 10) as NewPrice
from Products

### Stored Procedure

In [ ]:
create procedure dbo.UpdatePrice
      @ProductId int,
      @NewPrice Decimal(10, 2)
as
begin
      update Products
      set Price = @NewPrice
      where Id = @ProductId
end

In [ ]:
exec dbo.UpdatePrice @ProductId = 5, @NewPrice = 12000;

### When Funtion is Used

- Calculations(`tax` `discount` `age`)
- Firmating(`get_full_name` `convert_date`)
- used in `select`

### When Stored Procedure is Used

- `insert` `update` `delete`
- For long step tables(`log` `audit`)
- When for one query several tasks need to be done